.App {
  text-align: center;
}
.bgme{
height:60vh;
}

.title{
  color: aliceblue;
  font-style: oblique;
}

.App-link{
  color: aliceblue;
  font-style: oblique;
}

body {background-color: rgb(4, 4, 4);}